####################################
# .NET / ASP.NET Core
####################################

bin/
obj/

####################################
# Visual Studio / IDE
####################################

.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################
# OS junk
####################################

.DS_Store
Thumbs.db

####################################
# Logs
####################################

*.log

####################################
# Secrets / local overrides
####################################

appsettings.Local.json
.env

src/*/appsettings.Development.json
src/*/appsettings.*.Secrets.json

####################################
# Rider / VS Code
####################################

.vscode/

####################################
# Frontend
####################################

 src/Commerce.Web/

####################################
# DB files
####################################

src/Commerce.Api/*.db
src/Commerce.Api/*.db-wal
src/Commerce.Api/*.db-shm

####################################
# Misc
####################################

src/Commerce.Api/Commerce.Api.http